body {
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
.section-title {
  font-family: 'Monsieur La Doulaise', cursive;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
  font-size: 2.9rem;
}
.gallery-grid {
  padding: 0;
  float: left;
  width: 100%;
}
.gallery-overlay {
  position: relative;
}
.gallery-overlay .textbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: rgba(29, 29, 29, 0.35);
}
.gallery-overlay:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.textbox {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.textbox p {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 2.3rem;
  color: #f8f8f8;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#swipebox-title {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #f8f8f8;
  font-size: 1.9rem;
  margin-top: 80px !important;
}
@media only screen and (min-width: 576px) {
  .gallery-grid {
    width: 50%;
  }
  .textbox p {
    font-size: 2.3rem;
  }
  .section-title {
    margin-top: 45px;
    margin-bottom: 40px;
    font-size: 2.9rem;
  }
  #swipebox-title {
    font-size: 1.9rem;
    margin-top: 80px !important;
  }
}
@media only screen and (min-width: 768px) {
  .gallery-grid {
    width: 33%;
  }
  .textbox p {
    font-size: 1.9rem;
  }
  .section-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3.3rem;
  }
  #swipebox-title {
    font-size: 1.9rem;
    margin-top: 80px !important;
  }
}
@media only screen and (min-width: 992px) {
  .textbox p {
    font-size: 1.9rem;
  }
  .section-title {
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 3.3rem;
  }
  #swipebox-title {
    font-size: 1.9rem;
    margin-top: 80px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .textbox p {
    font-size: 2.3rem;
  }
  .section-title {
    margin-top: 55px;
    margin-bottom: 60px;
    font-size: 3.7rem;
  }
  #swipebox-title {
    font-size: 2.3rem;
    margin-top: 80px !important;
  }
}